body {
   background-color: #fadbb3; 
   font-family: "Source Code Pro";
   font-weight:600;
   text-align: center;
   
}

#hobbies ul{

    width: 50%;
    margin-left: auto;
    margin-right:auto;

    padding: 1rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    background-color: #6fa7f0;
}

#hobbies ul li {
    margin-left:2em;
}

#Gallery{

    border: 5px dashed #6fa7f0;
    color: darkblue;
}

#Gallery img {

    max-width: 100%;

}

#gallery figure{

    text-align: center;
}





header{
    font-family: Oswald;
    text-align: center;

background-color: #6fa7f0;
}

#Lit {

    border: 5px dashed darkblue;
    color: darkblue;
    margin: 3rem;
    margin-bottom: 3rem;
}

#Lit div{

    padding: 3rem;
    max-width: 40rem;
    margin: 0 auto;
}

#Lit div p:first-letter{

    color: #6fa7f0;
    float: left;
    font-size: 3em;
    padding:.5em;
    line-height: .75;
    border: 1px solid black
}