body {
   background-color: lightblue; 
   font-family: "Source Code Pro";
   font-weight:600;
   text-align: center;
   color: darkblue;
   
}

#hobbies{

    display: flex; 
flex-direction: column; 
align-items: center;
color: aqua;
background-color: darkblue;
border: 5px solid aqua;

}

#hobbies ul{

    color: aqua;
    margin-left: auto;
    margin-right:auto;

    padding: 3rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    text-align: center;
    background-image: radial-gradient(#6fa7f0, darkblue);
    border: 5px dashed aqua ;
    
}

#hobbies ul li {
    margin-left:2em;
}

#Gallery{

    border: 5px dashed #6fa7f0;
    color: darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#Gallery  hr {
    display:none;
}
#Gallery h2 {
    grid-column:1/-1;
}

#Gallery img {

    max-width: 100%;

}

#gallery figure{

    text-align: center;
}





header{
    font-family: Oswald;
    text-align: center;

background-color: #6fa7f0;
}

#Lit {

    border: 5px dashed darkblue;
    color: darkblue;
    margin: 3rem;
    margin-bottom: 3rem;
}

#Lit div{

    padding: 3rem;
    max-width: 100%;
    margin: 0 auto;
    columns: 40rem;
}


article p:nth-child(even):first-letter {

color: aqua;
font-size: 500%;
border: 3.5px dotted aqua;
padding-left: .5ex;
padding-right: .5ex;
float: left;
margin-right: .5ex;
background-image: radial-gradient(#6fa7f0, darkblue);
font-family:'Times New Roman', Times, serif ;

}

  

/* tablet state */
@media screen and (min-width: 960px) {

    figure{

        display:grid;
        grid-template-columns: 2fr 1fr; 
      
    }

    figcaption{

        display:flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;
    }
    body {
        color: aqua
    }
}